/* Header
==========================*/
.header-box__left, .header-box__right{
	padding: 20px 0px;
}
.header-box__left{
	@media only screen and (min-width : 768px) {
		max-width: 391px;
	}
	img{
		margin: 0 auto;
		@media only screen and (min-width : 768px) {
			margin-left: 0;
		}
	}
}
.header-box__right{
	text-align: center;
	@media only screen and (min-width : 768px) {
		text-align: right;
	}
	span{
		display: inline-block;
		color: #421f18;
		font-size: 30px;
		font-weight: 400;
		b{
			color: #f57107;
		}
	}
}
.menu__mobile{
	background:url(../img/mw.jpg) no-repeat top center;
	width: 100%;
	background-size:cover;
	padding: 10px 0px;
	@media only screen and (min-width : 768px) {
		display: none;
	}
	.fa-bars{
		font-size: 25px;
		cursor: pointer;
	}
}
.menu__wrap{
	background:#E7E7E7;
	width: 100%;
	background-size:cover;
	@media only screen and (min-width : 768px) {
		background:url(../img/mw.jpg) no-repeat top center;
		background-size:cover;
	}
	.main-menu{
		display: none;
		text-align: center;
		padding-bottom: 25px;
		@media only screen and (min-width : 768px) {
			display: flex !important;
			justify-content: space-between;
			padding-bottom: 0;
		}
		li{
			margin: 10px 0px;
			@media only screen and (min-width : 768px) {
				display: inline-block;
			}
			a{
				font-size: 15px;
				font-weight: 400;
				text-transform: uppercase;
				text-decoration: none;
				color: #431f18;
				&:hover{
					color:#F57107;
				}
				@media only screen and (min-width : 768px) {
					font-size: 16px;
				}
			}
		}
		li:last-child{
			@media only screen and (min-width : 1240px) {
				margin-right: 0;
			}
		}
	}
}

/* Catalog
==========================*/
.catalog-wrap{
	background:url(../img/catimg.jpg) no-repeat top center;
	background-size:cover;
	width: 100%;
}
.catalog-button{
	
}