.product-section {
  text-align: center; }
  @media only screen and (min-width: 1200px) {
    .product-section {
      text-align: left; } }

.product-section__box {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  margin-bottom: 20px; }
  @media only screen and (min-width: 990px) {
    .product-section__box {
      max-width: 300px;
      margin-right: 5px;
      margin-bottom: 0; } }
  @media only screen and (min-width: 1200px) {
    .product-section__box {
      margin-right: 23px;
      max-width: 360px; } }

.product-section__box_last {
  margin-right: 0; }

.product-section__img img {
  width: 100%;
  height: auto; }

.aboutbackground {
  background: url("../img/aboutbg.jpg") no-repeat top center;
  background-size: cover;
  padding: 19px 0;
  margin-top: 15px; }

.about__txtbox {
  width: 100%;
  padding: 18px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-bottom: 20px; }
  .about__txtbox p {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    margin-bottom: 23px; }
    .about__txtbox p a {
      color: #431f18; }
      .about__txtbox p a:hover {
        color: #f57107; }
  @media only screen and (min-width: 990px) {
    .about__txtbox {
      width: 68%;
      float: right;
      margin-bottom: 0px;
      max-height: 570px; } }
  @media only screen and (min-width: 1200px) {
    .about__txtbox {
      max-width: 750px;
      width: 100%;
      padding: 18px 10px 40px 10px; } }

.about__caption {
  color: #f57107;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px; }

.about__formbox {
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 18px 10px 20px 10px;
  text-align: right;
  color: #555;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px; }
  @media only screen and (min-width: 990px) {
    .about__formbox {
      width: 30%;
      float: left;
      max-height: 570px; } }
  @media only screen and (min-width: 1200px) {
    .about__formbox {
      max-width: 360px;
      width: 100%; } }
  .about__formbox .about__caption {
    text-align: left;
    margin-bottom: 17px; }
  .about__formbox input[type="text"] {
    margin-bottom: 20px; }
  .about__formbox input[type="submit"] {
    margin-top: 13px; }

.news {
  padding: 18px 0 15px 0; }
  .news .news-item {
    margin: 0 auto;
    margin-bottom: 20px;
    vertical-align: top; }
    @media only screen and (min-width: 990px) {
      .news .news-item {
        margin-right: 15px;
        max-width: 300px;
        display: inline-block;
        margin-bottom: 0px; } }
    @media only screen and (min-width: 1200px) {
      .news .news-item {
        margin-right: 25px;
        max-width: 360px; } }
  @media only screen and (min-width: 990px) {
    .news .news-item:nth-child(3n) {
      margin-right: 0; } }

.newsbgimg {
  background: url("../img/newsbg.jpg") no-repeat center;
  background-size: cover; }

.newsbg {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 14px 14px 5px 14px;
  margin-bottom: 20px; }
  .newsbg .about__caption {
    margin-bottom: 0; }
  .newsbg .news-item {
    margin-bottom: 15px; }

.news-button {
  text-align: center; }

/*# sourceMappingURL=style-df.css.map */
