.product-section {
  text-align: center;
  margin-top: 20px; }
  @media only screen and (min-width: 1200px) {
    .product-section {
      text-align: left; } }

.product-section__box {
  display: inline-block;
  max-width: 360px;
  width: 100%;
  margin-bottom: 20px;
  text-align: right; }
  @media only screen and (min-width: 990px) {
    .product-section__box {
      max-width: 300px;
      margin-right: 5px;
      margin-bottom: 0; } }
  @media only screen and (min-width: 1200px) {
    .product-section__box {
      margin-right: 25px;
      max-width: 360px; } }

.product-section__box_last {
  margin-right: 0; }
  @media only screen and (min-width: 990px) {
    .product-section__box_last {
      float: right; } }

.product-section__img img {
  width: 100%;
  height: auto; }

.aboutbackground {
  background: url("../img/aboutbg.jpg") no-repeat top center;
  background-size: cover;
  padding: 19px 0 30px 0;
  margin-top: 15px; }

@media only screen and (min-width: 990px) {
  .aboutblock {
    height: 570px;
    overflow: hidden; } }

.about__txtbox {
  width: 100%;
  padding: 18px 15px 20px 15px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-bottom: 20px;
  overflow: hidden; }
  .about__txtbox p {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    margin-bottom: 23px;
    text-align: justify; }
    .about__txtbox p a {
      color: #431f18; }
      .about__txtbox p a:hover {
        color: #f57107; }
  @media only screen and (min-width: 990px) {
    .about__txtbox {
      width: 68%;
      float: right;
      margin-bottom: 0px;
      height: 570px; } }
  @media only screen and (min-width: 1200px) {
    .about__txtbox {
      max-width: 750px;
      width: 100%;
      padding-bottom: 40px; } }

.about__caption {
  color: #f57107;
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  padding-bottom: 0; }

.about__formbox {
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 18px 15px 20px 15px;
  text-align: right;
  color: #555;
  font-family: Arial;
  font-size: 10px;
  font-weight: 400;
  line-height: 20px; }
  @media only screen and (min-width: 990px) {
    .about__formbox {
      width: 30%;
      float: left;
      overflow: hidden;
      height: 569px;
      padding-bottom: 40px; } }
  @media only screen and (min-width: 1200px) {
    .about__formbox {
      max-width: 360px;
      width: 100%; } }
  .about__formbox .about__caption {
    text-align: left;
    margin-bottom: 17px; }
  .about__formbox input[type="text"] {
    margin-bottom: 20px;
    font-size: 11px; }
  .about__formbox textarea {
    font-size: 11px; }
  .about__formbox input[type="text"]::-webkit-input-placeholder {
    color: #555; }
  .about__formbox input[type="text"]::-moz-placeholder {
    color: #555; }
  .about__formbox input[type="text"]:-moz-placeholder {
    color: #555; }
  .about__formbox input[type="text"]:-ms-input-placeholder {
    color: #555; }
  .about__formbox textarea::-webkit-input-placeholder {
    color: #555; }
  .about__formbox textarea::-moz-placeholder {
    color: #555; }
  .about__formbox textarea:-moz-placeholder {
    color: #555; }
  .about__formbox textarea:-ms-input-placeholder {
    color: #555; }
  .about__formbox input[type="submit"] {
    margin-top: 13px; }

.news {
  padding: 18px 0 15px 0; }
  .news .news-item {
    margin: 0 auto;
    margin-bottom: 20px;
    vertical-align: top; }
    .news .news-item .news-item__date {
      display: inline-block; }
    @media only screen and (min-width: 990px) {
      .news .news-item {
        margin-right: 15px;
        max-width: 300px;
        display: inline-block;
        margin-bottom: 0px; } }
    @media only screen and (min-width: 1200px) {
      .news .news-item {
        margin-right: 26px;
        max-width: 360px; } }
  @media only screen and (min-width: 990px) {
    .news .news-item:nth-child(3n) {
      margin-right: 0;
      float: right; } }
  .news .news-button {
    margin-top: -4px; }

.newsbgimg {
  background: url("../img/newsbg.jpg") no-repeat center;
  background-size: cover; }

.newsbg {
  background-color: rgba(255, 255, 255, 0.65);
  padding: 17px 14px 5px 14px;
  margin-bottom: 20px; }
  .newsbg .about__caption {
    margin-bottom: -3px;
    padding-bottom: 0;
    font-weight: 600; }
  .newsbg .news-item {
    margin-bottom: 15px; }

.news-button {
  text-align: center; }

.bitumsbgimg {
  background: url("../img/bityumbg.jpg") no-repeat center;
  background-size: cover; }

.bitumsblock {
  padding: 17px 14px 20px 14px;
  text-align: center; }
  @media only screen and (min-width: 770px) {
    .bitumsblock {
      text-align: left; } }
  .bitumsblock .product-item {
    margin-bottom: 12px; }
    @media only screen and (min-width: 990px) {
      .bitumsblock .product-item {
        padding-right: 11px; } }
    @media only screen and (min-width: 1200px) {
      .bitumsblock .product-item {
        margin-right: 19px;
        padding-right: 0; } }
    .bitumsblock .product-item .product-item__img {
      margin-bottom: 6px; }
  .bitumsblock .product-item_last {
    margin-right: 0; }
  .bitumsblock .about__caption {
    margin-bottom: 14px;
    text-align: left;
    font-weight: 600;
    padding-bottom: 0; }
  .bitumsblock .news-button {
    margin-top: 2px; }

.bitumsblock .product-item:nth-child(3n+1) {
  margin-right: 0;
  padding-right: 0; }

.catalog-wrap .product-item__img a:hover:after {
  background-image: none; }

.gototop {
  width: 70px;
  height: 70px;
  background-color: #f57107;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  z-index: 990;
  right: 3%;
  bottom: 7%;
  background-image: url("../img/arrow1.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(-90deg);
  display: none; }
  .gototop:hover {
    background-color: #f98d36; }
  @media only screen and (min-width: 990px) {
    .gototop {
      display: none; } }

/*# sourceMappingURL=style-df.css.map */
