.body{
font-family: 'arial', sans-serif;
color: #421f18;
font-size: 12px;
}
//font-family: 'Playfair Display', serif;
body, html{
	height:100%;
}

.n-wrapper{
	width: 100%;
	margin: 0 auto;
}

.n-header{
	display:table-row;
	height: 1px;
}
.n-content{
	display:table-row;

}
.n-footer{
	display:table-row;
	height: 1px;

}
.n-wrapper{
	width: 100%;
	display:table;
}
.n-content-inner{
	display:table-cell;
}
.vertical-align{
	vertical-align:middle;
}
