.h2 { color: #525252; font-family: "PlayfairDisplay", serif; font-size: 30px; line-height: 1.6; font-weight: 700; }
@media only screen and (max-width: 768px) { .h2 { font-size: 26px; } }
@media only screen and (max-width: 1248px) { .h2 { font-size: 18px; } }
