.h1 {
  color: #525252;
  font-family: "PlayfairDisplay", serif;
  font-size: 26px;
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1248px) {
  .h1 {
    font-size: 40px;
  }
}
