.product-item{
	max-width: 365px;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
	@media only screen and (min-width : 480px) {
		text-align: left;		
	}
	@media only screen and (min-width : 770px) {		
		max-width: 310px;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 365px;
		margin-bottom: 0px;
	}

}
.product-item__caption{
	color: #431f18;
	font-family: Arial;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	margin: 0;
	min-height: 33px;
}
.product-item__img{
	max-width: 170px;
	width: 100%;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 15px;
	@media only screen and (min-width : 1200px) {
		max-width: 180px;
	}	
	img{
		width: 100%;
		height: auto;
	}
	a{
		position: relative;
		&:hover:after{
			content: "";
			position: absolute;
			top:50%;
			left:50%;
			transform:translate(-50%, -50%);
			width: 31px;
			height: 31px;
			background: url("../../img/zoom.png")no-repeat center;
		}
	}	
}
.product-item__txtbox{
	max-width: 175px;
	width: 100%;
	display: inline-block;
	padding-left: 12px;
	vertical-align: top;
	line-height: 20px;	
	text-align: left;
	margin-top: -5px;
	@media only screen and (min-width : 770px) {
		max-width: 135px;
	}
	@media only screen and (min-width : 1200px) {
		max-width: 175px;
	}
}
.product-item__buttons{
	margin-top: 4px;
	text-align: center;	
	@media only screen and (min-width : 480px) {
		text-align: left;
	}
}

.product-item__pasport{
	color: black;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	display: block;	
	@media only screen and (min-width : 770px) {
		width: 160px;
		display: inline-block;	
	}
	@media only screen and (min-width : 1200px) {
		width: 227px;
	}
}
.product-item__look, .product-item__download{
	display: inline-block;
	color: #431f18;
	font-family: Arial;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
		color: #f57107;
	}
}
.product-item__download{
	padding-left: 15px;
}