.button{
	line-height: 1.7em;
	text-align: center; 
	border: 1px solid #421f18;
	-webkit-border-radius: 40px; 
	border-radius: 40px; 
	background-color: transparent; 
	font-size: 16px;  
	text-transform: uppercase;
	cursor: pointer;
	color: #555555; 
}
.button:hover{
	border-color: #f57107;
	background-color: #F57107;
	color: #ffffff;   
}